builder/projects/template/elements/blog-grid.html
<section class="section-50 section-md-75 section-xl-100 novi-background bg-cover">
  <div class="container">
    <div class="row justify-content-md-center justify-content-lg-start row-30">
      <div class="col-md-9 col-lg-6 height-fill">
        <article class="post-block">
          <div class="post-image">
            <div class="image-block bg-cover" style="background-image: url(images/blog-grid-1-570x253.jpg);"></div>
          </div>
          <div class="post-body">
            <h4 class="post-header"><a href="blog-post.html">Choosing the Strategy</a></h4>
            <ul class="post-meta">
              <li class="object-inline"><span class="text-style-2 text-white">by</span><span>Joan Williams</span></li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-query_builder"></span>
                <time datetime="2016-01-01">22 November</time>
              </li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-loyalty"></span>
                <ul class="list-tags-inline">
                  <li><a href="#">Strategy</a></li>
                  <li><a href="#">Capital</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-md-9 col-lg-6 height-fill">
        <article class="post-block">
          <div class="post-image">
            <div class="image-block bg-cover" style="background-image: url(images/blog-grid-2-570x253.jpg);"></div>
          </div>
          <div class="post-body">
            <h4 class="post-header"><a href="blog-post.html">Narrow Your Focus to Prevent Overanalysis</a></h4>
            <ul class="post-meta">
              <li class="object-inline"><span class="text-style-2 text-white">by</span><span>Tom Park</span></li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-query_builder"></span>
                <time datetime="2016-01-01">22 November</time>
              </li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-loyalty"></span>
                <ul class="list-tags-inline">
                  <li><a href="#">Idea</a></li>
                  <li><a href="#">Business</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-md-9 col-lg-6 height-fill">
        <article class="post-block">
          <div class="post-image">
            <div class="image-block bg-cover" style="background-image: url(images/blog-grid-3-570x253.jpg);"></div>
          </div>
          <div class="post-body">
            <h4 class="post-header"><a href="blog-post.html">8 Tips for Building a Bankable Business</a></h4>
            <ul class="post-meta">
              <li class="object-inline"><span class="text-style-2 text-white">by</span><span>John Miller</span></li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-query_builder"></span>
                <time datetime="2016-01-01">22 November</time>
              </li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-loyalty"></span>
                <ul class="list-tags-inline">
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Plan</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-md-9 col-lg-6 height-fill">
        <article class="post-block">
          <div class="post-image">
            <div class="image-block bg-cover" style="background-image: url(images/blog-grid-4-570x253.jpg);"></div>
          </div>
          <div class="post-body">
            <h4 class="post-header"><a href="blog-post.html">New HMRC Offshore Disclosure Facility</a></h4>
            <ul class="post-meta">
              <li class="object-inline"><span class="text-style-2 text-white">by</span><span>Julien Miro</span></li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-query_builder"></span>
                <time datetime="2016-01-01">22 November</time>
              </li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-loyalty"></span>
                <ul class="list-tags-inline">
                  <li><a href="#">Facility</a></li>
                  <li><a href="#">Opportunity</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-md-9 col-lg-6 height-fill">
        <article class="post-block">
          <div class="post-image">
            <div class="image-block bg-cover" style="background-image: url(images/blog-grid-5-570x253.jpg);"></div>
          </div>
          <div class="post-body">
            <h4 class="post-header"><a href="blog-post.html">Your Business Model is the Foundation of Your Business Plan</a></h4>
            <ul class="post-meta">
              <li class="object-inline"><span class="text-style-2 text-white">by</span><span>Amelia Anderson</span></li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-query_builder"></span>
                <time datetime="2016-01-01">22 November</time>
              </li>
              <li class="object-inline"><span class="novi-icon icon icon-xxs icon-white material-icons-loyalty"></span>
                <ul class="list-tags-inline">
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Plan</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </div>
    <div class="row row-fix text-center">
      <div class="col-sm-12">
        <ul class="pagination-custom">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item active"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

builder/projects/template/pug/pages/blog-grid.pug
extends  ../_skeleton

//- Includes
include ../elements/_ui-post-block

block variables
  - var activeIndex = 3
  - var pageName = 'Blog Grid'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title('Blog', 'bg-image-1')

  //- Blog grid
  section.section-50.section-md-75.section-xl-100.bg-cover.novi-background
    .container
      .row.justify-content-md-center.justify-content-lg-start.row-30
        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-1-570x253',
            header: 'Choosing the Strategy',
            user: 'Joan Williams',
            time: ['2018-01-01', '22 November'],
            tags: ['Strategy', 'Capital']
          })

        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-2-570x253',
            header: 'Narrow Your Focus to Prevent Overanalysis',
            user: 'Tom Park',
            time: ['2018-01-01', '22 November'],
            tags: ['Idea', 'Business']
          })

        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-3-570x253',
            header: '8 Tips for Building a Bankable Business',
            user: 'John Miller',
            time: ['2018-01-01', '22 November'],
            tags: ['Business', 'Plan']
          })

        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-4-570x253',
            header: 'New HMRC Offshore Disclosure Facility',
            user: 'Julien Miro',
            time: ['2018-01-01', '22 November'],
            tags: ['Facility', 'Opportunity']
          })

        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-5-570x253',
            header: 'Your Business Model is the Foundation of Your Business Plan',
            user: 'Amelia Anderson',
            time: ['2018-01-01', '22 November'],
            tags: ['Business', 'Plan']
          })

      .row.row-fix.text-center
        .col-sm-12
          +pagination
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default
