site/pug/pages/call-to-action.pug
extends  ../_skeleton

//- Includes
include ../elements/_ui-link-image

block variables
  - var activeIndex = 6
  - var pageName = 'Call to action'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Call to action 1
      .divider

  //-Join Our Team
  section.section-60.section-md-90.bg-whisper-lighten.novi-background.bg-cover
    .container
      h3 Join #[span.text-thin Our Team]
      .row.row-40.row-fix.justify-content-xl-between
        .col-md-10.col-lg-7
          .inset-lg-right-15.inset-xl-right-0
            p.
              Take a job opportunity of a lifetime – join the team of Tab Account. We cherish active specialists willing to work on projects of any type and complexity. If you are enthusiastic about audit and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.

        .col-md-6.col-lg-4
          a.btn.btn-primary.btn-block(href='team.html') get started now

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Call to action 2
      .divider

  //-Choose your plan
  section.section-60.section-md-90.bg-athens-gray.novi-background.bg-cover
    .container
      .row.row-40.row-fix
        .col-md-6.col-lg-8
          .row.row-30.row-fix
            .col-lg-6
              h3
                | Choose
                =' '
                span.text-thin Your Plan

            .col-lg-6
              p.text-gray-05.
                Pick the best plan that meets your business needs. A free trial is available to help you with the decision-making.
        .col-xl-1.d-none.d-xl-inline-block
        .col-md-5.col-lg-4.col-xl-3
          a.btn.btn-primary.btn-block(href='#') Learn more

  ='\n'

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Call to action 3
      .divider

  //-Not Sure Which Plan is Right For You?
  section.section-60.section-md-90.bg-accent.novi-background.bg-cover
    .container
      .row.row-fix.justify-content-lg-center.row-30.align-items-lg-center
        .col-lg-8.col-xl-7
          h5 Not Sure Which Plan is Right For You?
          p.text-white(style='max-width: 420px;').
            If you are in doubt of which plan to opt for, contact our managers, and we will try to help you make the right decision.
        .col-lg-4.col-xl-3
          a.btn.btn-lg.btn-lg-bigger.btn-white-outline(href='contact-us.html') Send us a letter
  ='\n'

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Call to action 4
      .divider

  //-The Law Firm You Can Trust!
  section.section-60.section-md-100.context-dark.bg-accent.novi-background.bg-cover
    .container.text-center.text-lg-left
      .row.row-fix.justify-content-sm-center.align-items-lg-center.justify-content-lg-start.row-30
        .col-lg-8.text-center
          h3 affordable business advice
        .col-lg-4.col-xl-3
          a.btn.btn-xl.btn-white-outline(href=globals.getTemplateLink) Learn more
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default

site/call-to-action.html
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Call to action</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CPlayfair+Display:400,700,700i,900,900i">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="page-loader page-loader-variant-1">
      <div>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate-dark" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="53px" data-lg-stick-up-offset="53px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside novi-background">
                <div class="rd-navbar-aside-toggle" data-custom-toggle=".rd-navbar-aside" data-custom-toggle-disable-on-blur="true"><span></span></div>
                <div class="rd-navbar-aside-content context-dark">
                  <ul class="rd-navbar-aside-group list-units">
                    <li>
                      <div class="unit unit-horizontal unit-spacing-xs">
                        <div class="unit-left"><span class="novi-icon icon icon-xxs-small icon-primary material-icons-place icon-shift-1 offset-top-2"></span></div>
                        <div class="unit-body"><a class="link-white-v2 d-inline" href="#">6036 Richmond hwy, Alexandria, VA USA 22303</a></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-horizontal unit-spacing-xs">
                        <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary fa-clock-o offset-top-2"></span></div>
                        <div class="unit-body">
                          <p class="text-white">Mon – Sat: 9:00am–18:00pm. Sunday CLOSED</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-horizontal unit-spacing-xs">
                        <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary material-icons-phone icon-shift-2"></span></div>
                        <div class="unit-body"><a class="link-white-v2" href="tel:#">+1 (409) 987–5874</a></div>
                      </div>
                    </li>
                  </ul>
                  <div class="rd-navbar-aside-group">
                    <ul class="list-inline list-inline-reset">
                      <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li>
                      <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li>
                      <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap novi-background">
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-141x34.png" alt="" width="141" height="34"/></a>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <div class="rd-navbar-search">
                      <form class="rd-search" action="search-results.html" method="GET" data-search-live="rd-search-results-live">
                        <div class="form-wrap">
                          <label class="form-label" for="rd-search-form-input">Search...</label>
                          <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                          <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        </div>
                        <button class="rd-search-submit" type="submit"></button>
                      </form>
                      <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-search-wrap"></button>
                    </div>
                          <ul class="rd-navbar-nav">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li><a href="about-us.html">About Us</a>
                            </li>
                            <li><a href="services.html">Services</a>
                              <ul class="rd-navbar-dropdown">
                                <li><a href="single-service.html">Single service</a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="blog-grid.html">Blog</a>
                              <ul class="rd-navbar-dropdown">
                                <li><a href="blog-post.html">Blog post</a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="#">Pages</a>
                              <ul class="rd-navbar-dropdown">
                                <li><a href="team.html">Team</a>
                                </li>
                                <li><a href="team-member.html">Team member</a>
                                </li>
                                <li><a href="privacy-policy.html">Privacy policy</a>
                                </li>
                                <li><a href="search-results.html">Search results</a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="contact-us.html">Contacts</a>
                            </li>
                            <li class="active"><a href="#">Blocks</a>
                              <ul class="rd-navbar-megamenu">
                                <li>
                                  <h6 class="rd-megamenu-header">Elements 1</h6>
                                  <ul class="rd-navbar-list">
                                    <li><a href="headers.html">Headers</a></li>
                                    <li><a href="footers.html">Footers</a></li>
                                    <li><a href="brands.html">Brands</a></li>
                                    <li><a href="call-to-action.html">Call to action</a></li>
                                    <li><a href="features.html">Features</a></li>
                                  </ul>
                                </li>
                                <li>
                                  <h6 class="rd-megamenu-header">Elements 2</h6>
                                  <ul class="rd-navbar-list">
                                    <li><a href="forms.html">Forms</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="gallery-album.html">Gallery album</a></li>
                                    <li><a href="maps.html">Maps</a></li>
                                    <li><a href="services-page.html">Services page</a></li>
                                  </ul>
                                </li>
                                <li>
                                  <h6 class="rd-megamenu-header">Elements 3</h6>
                                  <ul class="rd-navbar-list">
                                    <li><a href="subscribe-forms.html">Subscribe forms</a></li>
                                    <li><a href="sliders.html">Sliders</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                  </ul>
                                </li>
                                <li>
                                  <h6 class="rd-megamenu-header">Blog</h6>
                                  <ul class="rd-navbar-list">
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li><a href="blog-masonry.html">Blog masonry</a></li>
                                    <li><a href="blog-classic.html">Blog classic</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap novi-background custom-bg-image" style="background-image: url(images/bg-image-1.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>Call to action</h2>
          </div>
        </div>
      </section>

      <section class="section-66 novi-background bg-cover">
        <div class="container text-center">
          <h3>Call to action 1</h3>
          <div class="divider"></div>
        </div>
      </section>
      <section class="section-60 section-md-90 bg-whisper-lighten novi-background bg-cover">
        <div class="container">
          <h3>Join <span class="text-thin">Our Team</span></h3>
          <div class="row row-40 row-fix justify-content-xl-between">
            <div class="col-md-10 col-lg-7">
              <div class="inset-lg-right-15 inset-xl-right-0">
                <p>
                  Take a job opportunity of a lifetime – join the team of Tab Account. We cherish active specialists willing to work on projects of any type and complexity. If you are enthusiastic about audit and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.
                  
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4"><a class="btn btn-primary btn-block" href="team.html">get started now</a></div>
          </div>
        </div>
      </section>
      <section class="section-66 novi-background bg-cover">
        <div class="container text-center">
          <h3>Call to action 2</h3>
          <div class="divider"></div>
        </div>
      </section>
      <section class="section-60 section-md-90 bg-athens-gray novi-background bg-cover">
        <div class="container">
          <div class="row row-40 row-fix">
            <div class="col-md-6 col-lg-8">
              <div class="row row-30 row-fix">
                <div class="col-lg-6">
                  <h3>Choose <span class="text-thin">Your Plan</span>
                  </h3>
                </div>
                <div class="col-lg-6">
                  <p class="text-gray-05">Pick the best plan that meets your business needs. A free trial is available to help you with the decision-making.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-1 d-none d-xl-inline-block"></div>
            <div class="col-md-5 col-lg-4 col-xl-3"><a class="btn btn-primary btn-block" href="#">Learn more</a></div>
          </div>
        </div>
      </section>

      <section class="section-66 novi-background bg-cover">
        <div class="container text-center">
          <h3>Call to action 3</h3>
          <div class="divider"></div>
        </div>
      </section>
      <section class="section-60 section-md-90 bg-accent novi-background bg-cover">
        <div class="container">
          <div class="row row-fix justify-content-lg-center row-30 align-items-lg-center">
            <div class="col-lg-8 col-xl-7">
              <h5>Not Sure Which Plan is Right For You?</h5>
              <p class="text-white" style="max-width: 420px;">If you are in doubt of which plan to opt for, contact our managers, and we will try to help you make the right decision.</p>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="btn btn-lg btn-lg-bigger btn-white-outline" href="contact-us.html">Send us a letter</a></div>
          </div>
        </div>
      </section>

      <section class="section-66 novi-background bg-cover">
        <div class="container text-center">
          <h3>Call to action 4</h3>
          <div class="divider"></div>
        </div>
      </section>
      <section class="section-60 section-md-100 context-dark bg-accent novi-background bg-cover">
        <div class="container text-center text-lg-left">
          <div class="row row-fix justify-content-sm-center align-items-lg-center justify-content-lg-start row-30">
            <div class="col-lg-8 text-center">
              <h3>affordable business advice</h3>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="btn btn-xl btn-white-outline" href="#">Learn more</a></div>
          </div>
        </div>
      </section>

      <footer class="page-foot bg-cape-cod context-dark novi-background bg-cover">
        <div class="section-40 section-md-75">
          <div class="container">
            <div class="row row-fix justify-content-sm-center">
              <div class="col-sm-9 col-md-11 col-xl-12">
                <div class="row row-50">
                  <div class="col-md-6 col-lg-10 col-xl-3">
                    <div class="inset-xl-right-20" style="max-width: 510px;"><a class="brand brand-inverse" href="index.html"><img src="images/logo-light-282x68.png" alt="" width="282" height="68"/></a>
                      <p class="text-dusty-gray">TabAccount delivers environment through which high-quality firms from diverse backgrounds can work together toward their own common goals.</p>
                      <div class="link-block"><a class="text-small-16 text-medium" href="contact-us.html">Free Consultation</a></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 col-xl-3">
                    <h6 class="text-small-16 text-uppercase footer-title">Recent Posts</h6>
                    <div class="post-preview-wrap">
                            <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">
                                <div class="unit unit-horizontal unit-spacing-lg">
                                  <div class="unit-left">
                                    <figure class="post-image"><img src="images/post-preview-1-70x70.jpg" alt="" width="70" height="70"/>
                                    </figure>
                                  </div>
                                  <div class="unit-body">
                                    <div class="post-header">
                                      <p>Top 3 Concerns Whe Choosing a Cloud Vendor</p>
                                    </div>
                                    <div class="post-meta">
                                      <ul class="list-meta">
                                        <li>
                                          <time datetime="2018-12-23">June 23, 2018</time>
                                        </li>
                                        <li>4 Comment</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div></a></article>
                            <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">
                                <div class="unit unit-horizontal unit-spacing-lg">
                                  <div class="unit-left">
                                    <figure class="post-image"><img src="images/post-preview-2-70x70.jpg" alt="" width="70" height="70"/>
                                    </figure>
                                  </div>
                                  <div class="unit-body">
                                    <div class="post-header">
                                      <p>Audit Data Analytics: Why Auditors Should Care</p>
                                    </div>
                                    <div class="post-meta">
                                      <ul class="list-meta">
                                        <li>
                                          <time datetime="2018-12-23">June 20, 2018</time>
                                        </li>
                                        <li>4 Comment</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div></a></article>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 col-xl-3">
                    <h6 class="text-small-16 text-uppercase footer-title">Quick links</h6>
                    <div class="row row-fix" style="max-width: 270px;">
                      <div class="col-6">
                        <ul class="list-marked-variant-2">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="services.html">Services</a></li>
                          <li><a href="blog-classic.html">Blog</a></li>
                        </ul>
                      </div>
                      <div class="col-6">
                        <ul class="list-marked-variant-2">
                          <li><a href="about-us.html">About us</a></li>
                          <li><a href="contact-us.html">Contacts</a></li>
                          <li><a href="team.html">Team</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 col-xl-3">
                    <h6 class="text-small-16 text-uppercase footer-title">Contact us</h6>
                    <address class="contact-info text-left">
                      <div class="unit unit-horizontal unit-spacing-md align-items-center">
                        <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray material-icons-phone"></span></div>
                        <div class="unit-body"><a class="link-white" href="tel:#">+1 (409) 987–5874</a></div>
                      </div>
                      <div class="unit unit-horizontal unit-spacing-md align-items-center">
                        <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray fa fa-envelope-o"></span></div>
                        <div class="unit-body"><a class="link-white" href="mailto:#">info@demolink.org</a></div>
                      </div>
                      <div class="unit unit-horizontal unit-spacing-md">
                        <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray material-icons-place"></span></div>
                        <div class="unit-body"><a class="link-white d-inline" href="#">6036 Richmond hwy,<br>Alexandria, VA USA 22303</a></div>
                      </div>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <hr class="hr bg-abbey-04">
        </div>
        <div class="section-35">
          <div class="container text-center">
            <div class="row row-fix flex-md-row-reverse justify-content-md-between align-items-md-center row-15">
              <div class="col-md-6 text-md-right">
                <div class="group-sm group-middle">
                  <p class="font-italic text-white">Follow Us:</p>
                  <ul class="list-inline list-inline-reset">
                    <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li>
                    <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li>
                    <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 offset-top-15 offset-sm-top-0 text-md-left">
                <p class="rights text-white"><span class="copyright-year"></span><span>&nbsp;&#169;&nbsp;</span><span>TabAccount.&nbsp;</span><a class="link-white-v2" href="privacy-policy.html">Privacy Policy</a>. Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
