site/single-service.html
<!DOCTYPE html><html class="wide wow-animation" lang="en"><head>     <title>Single service</title>     <meta name="format-detection" content="telephone=no">     <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">     <meta http-equiv="X-UA-Compatible" content="IE=edge">     <meta charset="utf-8">     <link rel="icon" href="images/favicon.ico" type="image/x-icon">     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CPlayfair+Display:400,700,700i,900,900i">     <link rel="stylesheet" href="css/bootstrap.css">     <link rel="stylesheet" href="css/fonts.css">     <link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/novi.css">   <!--[if lt IE 10]>     <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>     <script src="js/html5shiv.min.js"></script>   <![endif]-->   </head>   <body>     <div class="page-loader page-loader-variant-1">       <div>         <div class="page-loader-body">           <div id="spinningSquaresG">             <div class="spinningSquaresG" id="spinningSquaresG_1"></div>             <div class="spinningSquaresG" id="spinningSquaresG_2"></div>             <div class="spinningSquaresG" id="spinningSquaresG_3"></div>             <div class="spinningSquaresG" id="spinningSquaresG_4"></div>             <div class="spinningSquaresG" id="spinningSquaresG_5"></div>             <div class="spinningSquaresG" id="spinningSquaresG_6"></div>             <div class="spinningSquaresG" id="spinningSquaresG_7"></div>             <div class="spinningSquaresG" id="spinningSquaresG_8"></div>           </div>         </div>       </div>     </div>     <div class="page">       <header class="page-head">         <div class="rd-navbar-wrap">           <nav class="rd-navbar rd-navbar-corporate-dark" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="53px" data-lg-stick-up-offset="53px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">             <div class="rd-navbar-inner">               <div class="rd-navbar-aside novi-background">                 <div class="rd-navbar-aside-toggle" data-custom-toggle=".rd-navbar-aside" data-custom-toggle-disable-on-blur="true"><span></span></div>                 <div class="rd-navbar-aside-content context-dark">                   <ul class="rd-navbar-aside-group list-units">                     <li>                       <div class="unit unit-horizontal unit-spacing-xs">                         <div class="unit-left"><span class="novi-icon icon icon-xxs-small icon-primary material-icons-place icon-shift-1 offset-top-2"></span></div>                         <div class="unit-body"><a class="link-white-v2 d-inline" href="#">6036 Richmond hwy, Alexandria, VA USA 22303</a></div>                       </div>                     </li>                     <li>                       <div class="unit unit-horizontal unit-spacing-xs">                         <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary fa-clock-o offset-top-2"></span></div>                         <div class="unit-body">                           <p class="text-white">Mon – Sat: 9:00am–18:00pm. Sunday CLOSED</p>                         </div>                       </div>                     </li>                     <li>                       <div class="unit unit-horizontal unit-spacing-xs">                         <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary material-icons-phone icon-shift-2"></span></div>                         <div class="unit-body"><a class="link-white-v2" href="tel:#">+1 (409) 987–5874</a></div>                       </div>                     </li>                   </ul>                   <div class="rd-navbar-aside-group">                     <ul class="list-inline list-inline-reset">                       <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li>                       <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li>                       <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li>                     </ul>                   </div>                 </div>               </div>               <div class="rd-navbar-group rd-navbar-search-wrap novi-background">                 <div class="rd-navbar-panel">                   <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-141x34.png" alt="" width="141" height="34"></a>                 </div>                 <div class="rd-navbar-nav-wrap">                   <div class="rd-navbar-nav-inner">                     <div class="rd-navbar-search">                       <form class="rd-search" action="search-results.html" method="GET" data-search-live="rd-search-results-live">                         <div class="form-wrap">                           <label class="form-label" for="rd-search-form-input">Search...</label>                           <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">                           <div class="rd-search-results-live" id="rd-search-results-live"></div>                         </div>                         <button class="rd-search-submit" type="submit"></button>                       </form>                       <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-search-wrap"></button>                     </div>                           <ul class="rd-navbar-nav">                             <li><a href="index.html">Home</a>                             </li>                             <li><a href="about-us.html">About Us</a>                             </li>                             <li class="active"><a href="services.html">Services</a>                               <ul class="rd-navbar-dropdown">                                 <li><a href="single-service.html">Single service</a>                                 </li>                               </ul>                             </li>                             <li><a href="blog-grid.html">Blog</a>                               <ul class="rd-navbar-dropdown">                                 <li><a href="blog-post.html">Blog post</a>                                 </li>                               </ul>                             </li>                             <li><a href="#">Pages</a>                               <ul class="rd-navbar-dropdown">                                 <li><a href="team.html">Team</a>                                 </li>                                 <li><a href="team-member.html">Team member</a>                                 </li>                                 <li><a href="privacy-policy.html">Privacy policy</a>                                 </li>                                 <li><a href="search-results.html">Search results</a>                                 </li>                               </ul>                             </li>                             <li><a href="contact-us.html">Contacts</a>                             </li>                           </ul>                   </div>                 </div>               </div>             </div>           </nav>         </div>       </header>        <section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap novi-background custom-bg-image" style="background-image: url(images/bg-image-1.jpg);">         <div class="container">           <div class="page-title">             <h2>Single service</h2>           </div>         </div>       </section>        <section class="novi-background">         <div class="container">           <div class="row row-fix flex-lg-row-reverse align-items-lg-end justify-content-lg-end">             <div class="col-md-11 col-lg-6 col-xl-5">               <div class="section-60 section-md-90">                 <h3>Management Services</h3>                 <p>Engaging  the services of Investment Company can bring you the peace of mind that comes with knowing you've planned prudently for your future. We are committed to providing you with superior wealth management services. We can offer advice and comprehensive solutions for all of your financial planning needs. We are dedicated to placing your best interests first. Our entire investment philosophy and delivery of services to our clients begins with our core principle to operate in a conflict-free environment.</p>               </div>             </div>             <div class="col-lg-6 col-xl-6 d-none d-lg-block">               <div class="image-wrap-2"><img src="images/services-1-461x514.jpg" alt="" width="461" height="514">               </div>             </div>           </div>         </div>       </section>        <section class="section-60 section-md-90 bg-whisper-lighten novi-background bg-cover">         <div class="container">           <div class="row row-fix">             <div class="col-sm-12">               <h3>Our Clients</h3>             </div>           </div>           <div class="row row-40 row-fix">             <div class="col-md-7 col-lg-5 col-xl-4">               <div class="owl-carousel-dark">                 <div class="owl-carousel owl-nav-bottom-left" data-items="1" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-nav="true">                   <div class="item">                     <p>Among our clients, there are many world-renowned industry leaders. Their companies are now ranked as the most successful companies – thanks to us.</p>                   </div>                   <div class="item">                     <p>Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.</p>                   </div>                   <div class="item">                     <p>I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.</p>                   </div>                 </div>               </div>             </div>             <div class="col-lg-7 col-xl-8">               <div class="row shift-md-top-1 row-30">                 <div class="col-sm-6 col-md-3">                   <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-2-132x83.png" alt="" width="132" height="83"></a></div>                 </div>                 <div class="col-sm-6 col-md-3">                   <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-3-169x68.png" alt="" width="169" height="68"></a></div>                 </div>                 <div class="col-sm-6 col-md-3">                   <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-4-141x88.png" alt="" width="141" height="88"></a></div>                 </div>                 <div class="col-sm-6 col-md-3">                   <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-5-138x55.png" alt="" width="138" height="55"></a></div>                 </div>               </div>             </div>           </div>         </div>       </section>        <section class="section parallax-container bg-black bg-image context-dark" data-parallax-img="images/bg-image-7.jpg">         <div class="parallax-content">           <div class="section-60 section-md-90 bg-overlay-cello">             <div class="container">               <div class="row row-fix">                 <div class="col-sm-12 text-center">                   <h3>What <span class="text-thin">We Do</span></h3>                   <p class="text-white">Tab Account provides unparalleled guidance on audit, review, and other financial assurance <br class="d-none d-xl-inline-block"> and attestations matter in a cost effective way without draining your internal resources.</p>                 </div>               </div>               <div class="row row-50">                 <div class="col-sm-6 col-lg-4">                   <article class="icon-box-vertical icon-box-vertical-sm">                     <div class="unit flex-column unit-spacing-sm">                       <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-document-edit"></span></div>                       <div class="unit-body">                         <h4>Advisory</h4>                         <p class="text-white-05">From strategy through execution, Tab Account’s Advisory practice helps clients build their next competitive advantage.</p>                       </div>                     </div>                   </article>                  </div>                 <div class="col-sm-6 col-lg-4">                   <article class="icon-box-vertical icon-box-vertical-sm">                     <div class="unit flex-column unit-spacing-sm">                       <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-user"></span></div>                       <div class="unit-body">                         <h4>Assurance</h4>                         <p class="text-white-05">Working closely with public and private companies, we help solve complex business issues that our clients face.</p>                       </div>                     </div>                   </article>                  </div>                 <div class="col-sm-6 col-lg-4">                   <article class="icon-box-vertical icon-box-vertical-sm">                     <div class="unit flex-column unit-spacing-sm">                       <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-planet"></span></div>                       <div class="unit-body">                         <h4>Tax Services</h4>                         <p class="text-white-05">Our Tax professionals are problem solvers, providing value to their clients through analyzing and interpreting tax policy, advising on intricate tax matters.</p>                       </div>                     </div>                   </article>                  </div>                 <div class="col-sm-6 col-lg-4">                   <article class="icon-box-vertical icon-box-vertical-sm">                     <div class="unit flex-column unit-spacing-sm">                       <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-money"></span></div>                       <div class="unit-body">                         <h4>Public Sector Practice</h4>                         <p class="text-white-05">We often help federal, state &amp; local and multilateral development agencies address complex business issues; manage risk; and improve financial measures.</p>                       </div>                     </div>                   </article>                  </div>                 <div class="col-sm-6 col-lg-4">                   <article class="icon-box-vertical icon-box-vertical-sm">                     <div class="unit flex-column unit-spacing-sm">                       <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-thumb-up"></span></div>                       <div class="unit-body">                         <h4>Business Management</h4>                         <p class="text-white-05">Our business management services provide companies and the individuals who run them with tools and strategies to improve operations and plan for the future.</p>                       </div>                     </div>                   </article>                  </div>                 <div class="col-sm-6 col-lg-4">                   <article class="icon-box-vertical icon-box-vertical-sm">                     <div class="unit flex-column unit-spacing-sm">                       <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-clock"></span></div>                       <div class="unit-body">                         <h4>Financial Planning</h4>                         <p class="text-white-05">We help you build and maintain a desirable position on the market through a combination of financial planning services.</p>                       </div>                     </div>                   </article>                  </div>               </div>             </div>           </div>         </div>       </section>       <section class="section-60 section-md-90 section-md-bottom-100 bg-white bg-image bg-image-1 novi-background custom-bg-image" style="background-image: url(images/services-1.jpg);">         <div class="container">           <div class="row row-fix justify-content-sm-center justify-content-lg-start">             <div class="col-md-8 col-lg-6 col-xl-5">               <h3>Why <span class="text-thin">Choose Us</span></h3>               <p>We are passionate about developing long lasting relationships with our clients. Therefore, we will communicate with you frequently and continuously endeavor to add value to your business by patiently understanding your business environment and objectives. As your auditor, we will take a keen interest in helping you achieve your business objectives by identifying weaknesses in your business and pointing you in the right direction for your company to succeed.</p><a class="btn btn-primary" href="team.html">Read more</a>             </div>           </div>         </div>       </section>         <section class="section-60 section-md-100 context-dark bg-accent novi-background bg-cover">         <div class="container text-center text-lg-left">           <div class="row row-fix justify-content-sm-center align-items-lg-center justify-content-lg-start row-30">             <div class="col-lg-8 text-center">               <h3>affordable business advice</h3>             </div>             <div class="col-lg-4 col-xl-3"><a class="btn btn-xl btn-white-outline" href="#">Learn more</a></div>           </div>         </div>       </section>        <footer class="page-foot bg-cape-cod context-dark novi-background bg-cover">         <div class="section-40 section-md-75">           <div class="container">             <div class="row row-fix justify-content-sm-center">               <div class="col-sm-9 col-md-11 col-xl-12">                 <div class="row row-50">                   <div class="col-md-6 col-lg-10 col-xl-3">                     <div class="inset-xl-right-20" style="max-width: 510px;"><a class="brand brand-inverse" href="index.html"><img src="images/logo-light-282x68.png" alt="" width="282" height="68"></a>                       <p class="text-dusty-gray">TabAccount delivers environment through which high-quality firms from diverse backgrounds can work together toward their own common goals.</p>                       <div class="link-block"><a class="text-small-16 text-medium" href="contact-us.html">Free Consultation</a></div>                     </div>                   </div>                   <div class="col-md-6 col-lg-4 col-xl-3">                     <h6 class="text-small-16 text-uppercase footer-title">Recent Posts</h6>                     <div class="post-preview-wrap">                             <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">                                 <div class="unit unit-horizontal unit-spacing-lg">                                   <div class="unit-left">                                     <figure class="post-image"><img src="images/post-preview-1-70x70.jpg" alt="" width="70" height="70">                                     </figure>                                   </div>                                   <div class="unit-body">                                     <div class="post-header">                                       <p>Top 3 Concerns Whe Choosing a Cloud Vendor</p>                                     </div>                                     <div class="post-meta">                                       <ul class="list-meta">                                         <li>                                           <time datetime="2018-12-23">June 23, 2018</time>                                         </li>                                         <li>4 Comment</li>                                       </ul>                                     </div>                                   </div>                                 </div></a></article>                             <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">                                 <div class="unit unit-horizontal unit-spacing-lg">                                   <div class="unit-left">                                     <figure class="post-image"><img src="images/post-preview-2-70x70.jpg" alt="" width="70" height="70">                                     </figure>                                   </div>                                   <div class="unit-body">                                     <div class="post-header">                                       <p>Audit Data Analytics: Why Auditors Should Care</p>                                     </div>                                     <div class="post-meta">                                       <ul class="list-meta">                                         <li>                                           <time datetime="2018-12-23">June 20, 2018</time>                                         </li>                                         <li>4 Comment</li>                                       </ul>                                     </div>                                   </div>                                 </div></a></article>                     </div>                   </div>                   <div class="col-md-6 col-lg-4 col-xl-3">                     <h6 class="text-small-16 text-uppercase footer-title">Quick links</h6>                     <div class="row row-fix" style="max-width: 270px;">                       <div class="col-6">                         <ul class="list-marked-variant-2">                           <li><a href="index.html">Home</a></li>                           <li><a href="services.html">Services</a></li>                           <li><a href="blog-classic.html">Blog</a></li>                         </ul>                       </div>                       <div class="col-6">                         <ul class="list-marked-variant-2">                           <li><a href="about-us.html">About us</a></li>                           <li><a href="contact-us.html">Contacts</a></li>                           <li><a href="team.html">Team</a></li>                         </ul>                       </div>                     </div>                   </div>                   <div class="col-md-6 col-lg-4 col-xl-3">                     <h6 class="text-small-16 text-uppercase footer-title">Contact us</h6>                     <address class="contact-info text-left">                       <div class="unit unit-horizontal unit-spacing-md align-items-center">                         <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray material-icons-phone"></span></div>                         <div class="unit-body"><a class="link-white" href="tel:#">+1 (409) 987–5874</a></div>                       </div>                       <div class="unit unit-horizontal unit-spacing-md align-items-center">                         <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray fa fa-envelope-o"></span></div>                         <div class="unit-body"><a class="link-white" href="mailto:#">info@demolink.org</a></div>                       </div>                       <div class="unit unit-horizontal unit-spacing-md">                         <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray material-icons-place"></span></div>                         <div class="unit-body"><a class="link-white d-inline" href="#">6036 Richmond hwy,<br>Alexandria, VA USA 22303</a></div>                       </div>                     </address>                   </div>                 </div>               </div>             </div>           </div>         </div>         <div class="container">           <hr class="hr bg-abbey-04">         </div>         <div class="section-35">           <div class="container text-center">             <div class="row row-fix flex-md-row-reverse justify-content-md-between align-items-md-center row-15">               <div class="col-md-6 text-md-right">                 <div class="group-sm group-middle">                   <p class="font-italic text-white">Follow Us:</p>                   <ul class="list-inline list-inline-reset">                     <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li>                     <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li>                     <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li>                   </ul>                 </div>               </div>               <div class="col-md-6 offset-top-15 offset-sm-top-0 text-md-left">                 <p class="rights text-white"><span class="copyright-year"></span><span>&nbsp;©&nbsp;</span><span>TabAccount.&nbsp;</span><a class="link-white-v2" href="privacy-policy.html">Privacy Policy</a>                   <!--{DEL LIVEDEMO USERPACKAGE ZEMEZ_LINK}-->. Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a>                   <!--{DEL}-->                 </p>               </div>             </div>           </div>         </div>       </footer>     </div>     <div class="snackbars" id="form-output-global"></div>     <!--{DEL GRANTER USERPACKAGE}-->     <!--{DEL}-->     <script src="js/core.min.js"></script>     <script src="js/script.js"></script>    </body></html>

site/pug/pages/single-service.pug
extends  ../_skeleton

//- Includes
include ../elements/_ui-icon-box-vertical
include ../elements/_ui-link-image

block variables
	- var activeIndex = 2
	- var pageName = 'Single service'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title(pageName, 'bg-image-1')

	//-You Can Trust Us
	section.novi-background
		.container
			.row.row-fix.flex-lg-row-reverse.align-items-lg-end.justify-content-lg-end
				.col-md-11.col-lg-6.col-xl-5
					.section-60.section-md-90
						h3 Management Services
						p Engaging  the services of Investment Company can bring you the peace of mind that comes with knowing you've planned prudently for your future. We are committed to providing you with superior wealth management services. We can offer advice and comprehensive solutions for all of your financial planning needs. We are dedicated to placing your best interests first. Our entire investment philosophy and delivery of services to our clients begins with our core principle to operate in a conflict-free environment.

				.col-lg-6.col-xl-6.d-none.d-lg-block
					.image-wrap-2
						+jpg('services-1-461x514')
	='\n'

	//- Our Clients
	section.section-60.section-md-90.bg-whisper-lighten.novi-background.bg-cover
		.container
			.row.row-fix
				.col-sm-12
					h3 Our Clients
			.row.row-40.row-fix
				.col-md-7.col-lg-5.col-xl-4
					//- Owl Carousel
					.owl-carousel-dark
						.owl-carousel.owl-nav-bottom-left(data-items='1', data-stage-padding='0', data-loop='true', data-margin='30', data-mouse-drag="false", data-nav='true')
							.item
								p Among our clients, there are many world-renowned industry leaders. Their companies are now ranked as the most successful companies – thanks to us.
							.item
								p Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.
							.item
								p I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.

				.col-lg-7.col-xl-8
					.row.shift-md-top-1.row-30
						.col-sm-6.col-md-3
							+link-image({img: 'services-2-132x83'})

						.col-sm-6.col-md-3
							+link-image({img: 'services-3-169x68'})

						.col-sm-6.col-md-3
							+link-image({img: 'services-4-141x88'})

						.col-sm-6.col-md-3
							+link-image({img: 'services-5-138x55'})
	='\n'

	//- What We Do
	section.section.parallax-container.bg-black.bg-image.context-dark(data-parallax-img='images/bg-image-7.jpg')
		.parallax-content
			.section-60.section-md-90.bg-overlay-cello
				.container
					.row.row-fix
						.col-sm-12.text-center
							h3 What #[span.text-thin We Do]
							p.text-white Tab Account provides unparalleled guidance on audit, review, and other financial assurance #[br.d-none.d-xl-inline-block] and attestations matter in a cost effective way without draining your internal resources.

					.row.row-50
						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-document-edit'],
								header: 'Advisory',
								text: 'From strategy through execution, Tab Account’s Advisory practice helps clients build their next competitive advantage.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-user'],
								header: 'Assurance',
								text: 'Working closely with public and private companies, we help solve complex business issues that our clients face.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-planet'],
								header: 'Tax Services',
								text: 'Our Tax professionals are problem solvers, providing value to their clients through analyzing and interpreting tax policy, advising on intricate tax matters.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-money'],
								header: 'Public Sector Practice',
								text: 'We often help federal, state & local and multilateral development agencies address complex business issues; manage risk; and improve financial measures.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-thumb-up'],
								header: 'Business Management',
								text: 'Our business management services provide companies and the individuals who run them with tools and strategies to improve operations and plan for the future.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-clock'],
								header: 'Financial Planning',
								text: 'We help you build and maintain a desirable position on the market through a combination of financial planning services.',
								descStyle: "text-white-05"
							})

	include ../sections/_section-why-choose-us
	='\n'

	//- Starbis Is Exactly What You Need
	section.section-60.section-md-100.context-dark.bg-accent.novi-background.bg-cover
		.container.text-center.text-lg-left
			.row.row-fix.justify-content-sm-center.align-items-lg-center.justify-content-lg-start.row-30
				.col-lg-8.text-center
					h3 affordable business advice
				.col-lg-4.col-xl-3
					a.btn.btn-xl.btn-white-outline(href=globals.getTemplateLink) Learn more
	='\n'

	//- Page Footer
	include ../sections/_section-footer-default
