site/team-member.html
<!DOCTYPE html><html class="wide wow-animation" lang="en"><head>     <title>Team Member Profile</title>     <meta name="format-detection" content="telephone=no">     <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">     <meta http-equiv="X-UA-Compatible" content="IE=edge">     <meta charset="utf-8">     <link rel="icon" href="images/favicon.ico" type="image/x-icon">     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CPlayfair+Display:400,700,700i,900,900i">     <link rel="stylesheet" href="css/bootstrap.css">     <link rel="stylesheet" href="css/fonts.css">     <link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/novi.css">   <!--[if lt IE 10]>     <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>     <script src="js/html5shiv.min.js"></script>   <![endif]-->   </head>   <body>     <div class="page-loader page-loader-variant-1">       <div>         <div class="page-loader-body">           <div id="spinningSquaresG">             <div class="spinningSquaresG" id="spinningSquaresG_1"></div>             <div class="spinningSquaresG" id="spinningSquaresG_2"></div>             <div class="spinningSquaresG" id="spinningSquaresG_3"></div>             <div class="spinningSquaresG" id="spinningSquaresG_4"></div>             <div class="spinningSquaresG" id="spinningSquaresG_5"></div>             <div class="spinningSquaresG" id="spinningSquaresG_6"></div>             <div class="spinningSquaresG" id="spinningSquaresG_7"></div>             <div class="spinningSquaresG" id="spinningSquaresG_8"></div>           </div>         </div>       </div>     </div>     <div class="page">       <header class="page-head">         <div class="rd-navbar-wrap">           <nav class="rd-navbar rd-navbar-corporate-dark" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="53px" data-lg-stick-up-offset="53px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">             <div class="rd-navbar-inner">               <div class="rd-navbar-aside novi-background">                 <div class="rd-navbar-aside-toggle" data-custom-toggle=".rd-navbar-aside" data-custom-toggle-disable-on-blur="true"><span></span></div>                 <div class="rd-navbar-aside-content context-dark">                   <ul class="rd-navbar-aside-group list-units">                     <li>                       <div class="unit unit-horizontal unit-spacing-xs">                         <div class="unit-left"><span class="novi-icon icon icon-xxs-small icon-primary material-icons-place icon-shift-1 offset-top-2"></span></div>                         <div class="unit-body"><a class="link-white-v2 d-inline" href="#">6036 Richmond hwy, Alexandria, VA USA 22303</a></div>                       </div>                     </li>                     <li>                       <div class="unit unit-horizontal unit-spacing-xs">                         <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary fa-clock-o offset-top-2"></span></div>                         <div class="unit-body">                           <p class="text-white">Mon – Sat: 9:00am–18:00pm. Sunday CLOSED</p>                         </div>                       </div>                     </li>                     <li>                       <div class="unit unit-horizontal unit-spacing-xs">                         <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary material-icons-phone icon-shift-2"></span></div>                         <div class="unit-body"><a class="link-white-v2" href="tel:#">+1 (409) 987–5874</a></div>                       </div>                     </li>                   </ul>                   <div class="rd-navbar-aside-group">                     <ul class="list-inline list-inline-reset">                       <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li>                       <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li>                       <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li>                     </ul>                   </div>                 </div>               </div>               <div class="rd-navbar-group rd-navbar-search-wrap novi-background">                 <div class="rd-navbar-panel">                   <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-141x34.png" alt="" width="141" height="34"></a>                 </div>                 <div class="rd-navbar-nav-wrap">                   <div class="rd-navbar-nav-inner">                     <div class="rd-navbar-search">                       <form class="rd-search" action="search-results.html" method="GET" data-search-live="rd-search-results-live">                         <div class="form-wrap">                           <label class="form-label" for="rd-search-form-input">Search...</label>                           <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">                           <div class="rd-search-results-live" id="rd-search-results-live"></div>                         </div>                         <button class="rd-search-submit" type="submit"></button>                       </form>                       <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-search-wrap"></button>                     </div>                           <ul class="rd-navbar-nav">                             <li><a href="index.html">Home</a>                             </li>                             <li><a href="acerca-de-nosotros.html">About Us</a>                             </li>                             <li><a href="services.html">Services</a>                               <ul class="rd-navbar-dropdown">                                 <li><a href="servicio-de-impulsaciones.html">Single service</a>                                 </li>                               </ul>                             </li>                             <li><a href="blog-grid.html">Blog</a>                               <ul class="rd-navbar-dropdown">                                 <li><a href="blog-post.html">Blog post</a>                                 </li>                               </ul>                             </li>                             <li class="active"><a href="#">Pages</a>                               <ul class="rd-navbar-dropdown">                                 <li><a href="team.html">Team</a>                                 </li>                                 <li><a href="team-member.html">Team member</a>                                 </li>                                 <li><a href="privacy-policy.html">Privacy policy</a>                                 </li>                                 <li><a href="resultados-de-busqueda.html">Search results</a>                                 </li>                               </ul>                             </li>                             <li><a href="contactanos.html">Contacts</a>                             </li>                           </ul>                   </div>                 </div>               </div>             </div>           </nav>         </div>       </header>        <section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap novi-background custom-bg-image" style="background-image: url(images/bg-image-1.jpg);">         <div class="container">           <div class="page-title">             <h2>Our team</h2>           </div>         </div>       </section>        <section class="section-50 section-md-75 section-xl-100">         <div class="container">           <div class="row justify-content-md-center justify-content-lg-start row-40">             <div class="col-md-6 col-lg-6">               <div class="thumbnail thumbnail-profile">                 <div class="thumbnail-image"><img src="images/profile-1-570x570.jpg" alt="" width="570" height="570">                 </div>                 <div class="thumbnail-caption">                   <div class="thumbnail-caption-inner">                     <ul>                       <li>                         <div class="unit unit-horizontal unit-spacing-xs align-items-center">                           <div class="unit-left"><span class="novi-icon icon icon-xxs icon-black material-icons-phone"></span></div>                           <div class="unit-body">                             <ul class="list-info">                               <li><a class="link-black-v2" href="tel:#">+ 123 098 890 76 56</a></li>                             </ul>                           </div>                         </div>                       </li>                       <li>                         <div class="unit unit-horizontal unit-spacing-xs align-items-center">                           <div class="unit-left"><span class="novi-icon icon icon-xxs icon-black material-icons-mail"></span></div>                           <div class="unit-body">                             <ul class="list-info">                               <li><a class="link-black-v2" href="tel:#">+ 123 098 890 76 56</a></li>                             </ul>                           </div>                         </div>                       </li>                     </ul>                     <div class="btn-wrap"><a class="btn btn-small btn-min-width-0 btn-silver-outline" href="contactanos.html">get in touch</a></div>                   </div>                 </div>               </div>             </div>             <div class="col-md-6 col-lg-6 col-xl-5">               <div class="thumbnail-profile-info">                 <div class="inset-md-left-50 inset-lg-left-40 inset-xl-left-100">                   <h4>Tom Brown</h4>                   <p class="text-black-05">Finance Director</p>                   <p class="text-black-05">I’m Tom and I own and run Tab Account. I am a Chartered Accountant with 23 years of post qualification experience. After qualifying I spent 16 years out in industry.</p>                 </div>                 <div class="profile-quote">                   <blockquote class="quote-default">                     <div class="quote-open novi-icon fa fa-quote-left"></div>                     <div class="quote-body">                       <p>                         <q>I’m a qualified specialist with more than 20 years of experience in audit.</q>                       </p>                     </div>                     <div class="quote-close novi-icon fa fa-quote-right"></div>                   </blockquote>                 </div>                 <div class="inset-md-left-50 inset-lg-left-40 inset-xl-left-100">                   <p class="text-black-05">After qualifying I spent 16 years out in industry as a finance director, with experience across manufacturing, service and distribution sectors, before starting TabAccount. I always aim to bring a positive approach and an independent mind.</p>                   <ul class="list-progress">                     <li>                       <p class="animated fadeIn text-gray-darker h7">Tax Consultancy Services</p>                       <div class="progress-bar-js font-weight-bold progress-bar-horizontal progress-bar-primary" data-value="70" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>                     </li>                     <li>                       <p class="animated fadeIn text-gray-darker h7">Tax Training</p>                       <div class="progress-bar-js font-weight-bold progress-bar-horizontal progress-bar-old-gold" data-value="54" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>                     </li>                     <li>                       <p class="animated fadeIn text-gray-darker h7">Bookkeeping</p>                       <div class="progress-bar-js font-weight-bold progress-bar-horizontal progress-bar-bermuda-gray" data-value="87" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>                     </li>                     <li>                       <p class="animated fadeIn text-gray-darker h7">Bank Reconciliation</p>                       <div class="progress-bar-js font-weight-bold progress-bar-horizontal progress-bar-contessa" data-value="90" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>                     </li>                   </ul>                 </div>               </div>             </div>           </div>         </div>       </section>        <section class="section-50 section-md-90 section-xl-top-90 section-xl-bottom-100 bg-whisper-lighten">         <div class="container isotope-wrap">           <div class="row row-40">             <div class="col-sm-12 text-center">               <h3>Check out <span class="text-thin">tom`s works</span>               </h3>               <div class="row justify-content-lg-center row-40">                 <div class="col-lg-8">                   <p class="text-black">In my portfolio, there are hundreds of successful projects and dozens of satisfied customers. Some of the companies I’ve been working with became profitable market players with millions of customers . Check out the gallery to learn more.</p>                 </div>                 <div class="col-12">                   <ul class="isotope-filters-responsive">                     <li>                       <p>Choose your category:</p>                     </li>                     <li class="block-top-level">                       <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="#isotope-1" data-custom-toggle-hide-on-blur="true">Filter<span class="caret"></span></button>                       <div class="isotope-filters isotope-filters-minimal isotope-filters-horizontal" id="isotope-1">                         <ul class="list-inline">                           <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>                           <li><a data-isotope-filter="Category 1" data-isotope-group="gallery" href="#">Internal Audit</a></li>                           <li><a data-isotope-filter="Category 2" data-isotope-group="gallery" href="#">Capital Markets</a></li>                           <li><a data-isotope-filter="Category 3" data-isotope-group="gallery" href="#">Corporate Reporting</a></li>                           <li><a data-isotope-filter="Category 4" data-isotope-group="gallery" href="#">Risk Assurance</a></li>                         </ul>                       </div>                     </li>                   </ul>                 </div>               </div>             </div>             <div class="col-sm-12">               <div class="row">                 <div class="isotope isotope-gutter-default" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">                   <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1">                     <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-1-1170x781_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-1-370x278.jpg" alt="" width="370" height="278"></a>                       <div class="caption">                         <div class="link link-original"></div>                       </div>                     </div>                   </div>                   <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">                     <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-2-600x772_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-2-370x278.jpg" alt="" width="370" height="278"></a>                       <div class="caption">                         <div class="link link-original"></div>                       </div>                     </div>                   </div>                   <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 3">                     <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-3-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-3-370x278.jpg" alt="" width="370" height="278"></a>                       <div class="caption">                         <div class="link link-original"></div>                       </div>                     </div>                   </div>                   <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 4">                     <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-4-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-4-370x278.jpg" alt="" width="370" height="278"></a>                       <div class="caption">                         <div class="link link-original"></div>                       </div>                     </div>                   </div>                   <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">                     <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-5-1170x841_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-5-370x278.jpg" alt="" width="370" height="278"></a>                       <div class="caption">                         <div class="link link-original"></div>                       </div>                     </div>                   </div>                   <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 4">                     <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-6-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-6-370x278.jpg" alt="" width="370" height="278"></a>                       <div class="caption">                         <div class="link link-original"></div>                       </div>                     </div>                   </div>                 </div>               </div>             </div>           </div>         </div>       </section>        <footer class="page-foot bg-cape-cod context-dark novi-background bg-cover">         <div class="section-40 section-md-75">           <div class="container">             <div class="row row-fix justify-content-sm-center">               <div class="col-sm-9 col-md-11 col-xl-12">                 <div class="row row-50">                   <div class="col-md-6 col-lg-10 col-xl-3">                     <div class="inset-xl-right-20" style="max-width: 510px;"><a class="brand brand-inverse" href="index.html"><img src="images/logo-light-282x68.png" alt="" width="282" height="68"></a>                       <p class="text-dusty-gray">TabAccount delivers environment through which high-quality firms from diverse backgrounds can work together toward their own common goals.</p>                       <div class="link-block"><a class="text-small-16 text-medium" href="contactanos.html">Free Consultation</a></div>                     </div>                   </div>                   <div class="col-md-6 col-lg-4 col-xl-3">                     <h6 class="text-small-16 text-uppercase footer-title">Recent Posts</h6>                     <div class="post-preview-wrap">                             <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">                                 <div class="unit unit-horizontal unit-spacing-lg">                                   <div class="unit-left">                                     <figure class="post-image"><img src="images/post-preview-1-70x70.jpg" alt="" width="70" height="70">                                     </figure>                                   </div>                                   <div class="unit-body">                                     <div class="post-header">                                       <p>Top 3 Concerns Whe Choosing a Cloud Vendor</p>                                     </div>                                     <div class="post-meta">                                       <ul class="list-meta">                                         <li>                                           <time datetime="2018-12-23">June 23, 2018</time>                                         </li>                                         <li>4 Comment</li>                                       </ul>                                     </div>                                   </div>                                 </div></a></article>                             <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">                                 <div class="unit unit-horizontal unit-spacing-lg">                                   <div class="unit-left">                                     <figure class="post-image"><img src="images/post-preview-2-70x70.jpg" alt="" width="70" height="70">                                     </figure>                                   </div>                                   <div class="unit-body">                                     <div class="post-header">                                       <p>Audit Data Analytics: Why Auditors Should Care</p>                                     </div>                                     <div class="post-meta">                                       <ul class="list-meta">                                         <li>                                           <time datetime="2018-12-23">June 20, 2018</time>                                         </li>                                         <li>4 Comment</li>                                       </ul>                                     </div>                                   </div>                                 </div></a></article>                     </div>                   </div>                   <div class="col-md-6 col-lg-4 col-xl-3">                     <h6 class="text-small-16 text-uppercase footer-title">Quick links</h6>                     <div class="row row-fix" style="max-width: 270px;">                       <div class="col-6">                         <ul class="list-marked-variant-2">                           <li><a href="index.html">Home</a></li>                           <li><a href="services.html">Services</a></li>                           <li><a href="blog-classic.html">Blog</a></li>                         </ul>                       </div>                       <div class="col-6">                         <ul class="list-marked-variant-2">                           <li><a href="acerca-de-nosotros.html">About us</a></li>                           <li><a href="contactanos.html">Contacts</a></li>                           <li><a href="team.html">Team</a></li>                         </ul>                       </div>                     </div>                   </div>                   <div class="col-md-6 col-lg-4 col-xl-3">                     <h6 class="text-small-16 text-uppercase footer-title">Contact us</h6>                     <address class="contact-info text-left">                       <div class="unit unit-horizontal unit-spacing-md align-items-center">                         <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray material-icons-phone"></span></div>                         <div class="unit-body"><a class="link-white" href="tel:#">+1 (409) 987–5874</a></div>                       </div>                       <div class="unit unit-horizontal unit-spacing-md align-items-center">                         <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray fa fa-envelope-o"></span></div>                         <div class="unit-body"><a class="link-white" href="mailto:#">info@demolink.org</a></div>                       </div>                       <div class="unit unit-horizontal unit-spacing-md">                         <div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray material-icons-place"></span></div>                         <div class="unit-body"><a class="link-white d-inline" href="#">6036 Richmond hwy,<br>Alexandria, VA USA 22303</a></div>                       </div>                     </address>                   </div>                 </div>               </div>             </div>           </div>         </div>         <div class="container">           <hr class="hr bg-abbey-04">         </div>         <div class="section-35">           <div class="container text-center">             <div class="row row-fix flex-md-row-reverse justify-content-md-between align-items-md-center row-15">               <div class="col-md-6 text-md-right">                 <div class="group-sm group-middle">                   <p class="font-italic text-white">Follow Us:</p>                   <ul class="list-inline list-inline-reset">                     <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li>                     <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li>                     <li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li>                   </ul>                 </div>               </div>               <div class="col-md-6 offset-top-15 offset-sm-top-0 text-md-left">                 <p class="rights text-white"><span class="copyright-year"></span><span>&nbsp;©&nbsp;</span><span>TabAccount.&nbsp;</span><a class="link-white-v2" href="privacy-policy.html">Privacy Policy</a>                   <!--{DEL LIVEDEMO USERPACKAGE ZEMEZ_LINK}-->. Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a>                   <!--{DEL}-->                 </p>               </div>             </div>           </div>         </div>       </footer>     </div>     <div class="snackbars" id="form-output-global"></div>     <!--{DEL GRANTER USERPACKAGE}-->     <!--{DEL}-->     <script src="js/core.min.js"></script>     <script src="js/script.js"></script>    </body></html>

site/pug/pages/team-member.pug
extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-3
include ../elements/_ui-quote-default

block variables
	- var activeIndex = 4
	- var pageName = 'Team Member Profile'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title('Our team', 'bg-image-1')

	//- Julien Miro
	section.section-50.section-md-75.section-xl-100
		.container
			.row.justify-content-md-center.justify-content-lg-start.row-40
				.col-md-6.col-lg-6
					.thumbnail.thumbnail-profile
						.thumbnail-image
							+jpg('profile-1-570x570')
						.thumbnail-caption
							.thumbnail-caption-inner
								ul
									li
										.unit.unit-horizontal.unit-spacing-xs.align-items-center
											.unit-left
												span.novi-icon.icon.icon-xxs.icon-black.material-icons-phone
											.unit-body
												ul.list-info
													li: a.link-black-v2(href='tel:#') + 123 098 890 76 56
									li
										.unit.unit-horizontal.unit-spacing-xs.align-items-center
											.unit-left
												span.novi-icon.icon.icon-xxs.icon-black.material-icons-mail
											.unit-body
												ul.list-info
													li: a.link-black-v2(href='tel:#') + 123 098 890 76 56
								.btn-wrap
									a.btn.btn-small.btn-min-width-0.btn-silver-outline(href='contact-us.html') get in touch

				.col-md-6.col-lg-6.col-xl-5
					.thumbnail-profile-info
						.inset-md-left-50.inset-lg-left-40.inset-xl-left-100

							h4 Tom Brown
							p.text-black-05 Finance Director

							p.text-black-05 I’m Tom and I own and run Tab Account. I am a Chartered Accountant with 23 years of post qualification experience. After qualifying I spent 16 years out in industry.

						.profile-quote
							+quote-default('I’m a qualified specialist with more than 20 years of experience in audit.')

						.inset-md-left-50.inset-lg-left-40.inset-xl-left-100
							p.text-black-05 After qualifying I spent 16 years out in industry as a finance director, with experience across manufacturing, service and distribution sectors, before starting TabAccount. I always aim to bring a positive approach and an independent mind.

							include ../_includes/_progress-list
	='\n'

	//- Portfolio
	section.section-50.section-md-90.section-xl-top-90.section-xl-bottom-100.bg-whisper-lighten
		.container.isotope-wrap
			.row.row-40
				.col-sm-12.text-center
					h3
						| Check out
						=' '
						span.text-thin tom`s works
					.row.justify-content-lg-center.row-40
						.col-lg-8
							p.text-black In my portfolio, there are hundreds of successful projects and dozens of satisfied customers. Some of the companies I’ve been working with became profitable market players with millions of customers . Check out the gallery to learn more.
						.col-12
							//- Isotope Filters
							ul.isotope-filters-responsive
								li: p Choose your category:
								li.block-top-level
									//- Isotope Filters
									button.isotope-filters-toggle.btn.btn-sm.btn-default(data-custom-toggle='#isotope-1', data-custom-toggle-hide-on-blur='true')
										| Filter
										span.caret

									#isotope-1.isotope-filters.isotope-filters-minimal.isotope-filters-horizontal
										ul.list-inline
											li
												a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
											li
												a(data-isotope-filter='Category 1', data-isotope-group='gallery', href='#') Internal Audit
											li
												a(data-isotope-filter='Category 2', data-isotope-group='gallery', href='#') Capital Markets
											li
												a(data-isotope-filter='Category 3', data-isotope-group='gallery', href='#') Corporate Reporting
											li
												a(data-isotope-filter='Category 4', data-isotope-group='gallery', href='#') Risk Assurance


				.col-sm-12
					.row
						.isotope.isotope-gutter-default(data-isotope-layout='fitRows', data-isotope-group='gallery', data-lightgallery='group')
							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
								+thumbnail-3({img: 'gallery-grid-1-370x278', original: 'gallery-1-1170x781_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
								+thumbnail-3({img: 'gallery-grid-2-370x278', original: 'gallery-2-600x772_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
								+thumbnail-3({img: 'gallery-grid-3-370x278', original: 'gallery-3-1170x780_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
								+thumbnail-3({img: 'gallery-grid-4-370x278', original: 'gallery-4-1170x780_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
								+thumbnail-3({img: 'gallery-grid-5-370x278', original: 'gallery-5-1170x841_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
								+thumbnail-3({img: 'gallery-grid-6-370x278', original: 'gallery-6-1170x780_original'})
	='\n'

	//- Page Footer
	include ../sections/_section-footer-default
