site/contact-us.html
<!DOCTYPE html><html class="wide wow-animation" lang="en"><head><title>Contact Us</title><meta name="format-detection" content="telephone=no"><meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="utf-8"><link rel="icon" href="images/favicon.ico" type="image/x-icon"><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CPlayfair+Display:400,700,700i,900,900i"><link rel="stylesheet" href="css/bootstrap.css"><link rel="stylesheet" href="css/fonts.css"><link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/novi.css"><!--[if lt IE 10]><div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div><script src="js/html5shiv.min.js"></script><![endif]--></head><body><div class="page-loader page-loader-variant-1"><div><div class="page-loader-body"><div id="spinningSquaresG"><div class="spinningSquaresG" id="spinningSquaresG_1"></div><div class="spinningSquaresG" id="spinningSquaresG_2"></div><div class="spinningSquaresG" id="spinningSquaresG_3"></div><div class="spinningSquaresG" id="spinningSquaresG_4"></div><div class="spinningSquaresG" id="spinningSquaresG_5"></div><div class="spinningSquaresG" id="spinningSquaresG_6"></div><div class="spinningSquaresG" id="spinningSquaresG_7"></div><div class="spinningSquaresG" id="spinningSquaresG_8"></div></div></div></div></div><div class="page"><header class="page-head"><div class="rd-navbar-wrap"><nav class="rd-navbar rd-navbar-corporate-dark" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="53px" data-lg-stick-up-offset="53px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true"><div class="rd-navbar-inner"><div class="rd-navbar-aside novi-background" style="background-color: rgb(255, 177, 13);"><div class="rd-navbar-aside-toggle" data-custom-toggle=".rd-navbar-aside" data-custom-toggle-disable-on-blur="true"><span></span></div><div class="rd-navbar-aside-content context-dark"><ul class="rd-navbar-aside-group list-units"><li><div class="unit unit-horizontal unit-spacing-xs"><div class="unit-left"><span class="novi-icon icon icon-xxs-small icon-primary material-icons-place icon-shift-1 offset-top-2"></span></div><div class="unit-body"><a class="link-white-v2 d-inline" href="#">Juan Severino E8-38 edif. Argentina Plaza</a></div></div></li><li><div class="unit unit-horizontal unit-spacing-xs"><div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary fa-clock-o offset-top-2"></span></div><div class="unit-body"><p class="text-white">Lun– Vier: 9:00am–18:00pm.</p></div></div></li><li><div class="unit unit-horizontal unit-spacing-xs"><div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary material-icons-phone icon-shift-2"></span></div><div class="unit-body"><a class="link-white-v2" href="tel:#">+ (593) 3800645</a></div></div></li></ul><div class="rd-navbar-aside-group"><ul class="list-inline list-inline-reset"><li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li><li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li><li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li></ul></div></div></div><div class="rd-navbar-group rd-navbar-search-wrap novi-background"><div class="rd-navbar-panel"><button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-escrito-go-2638x743.png" alt="" width="141" height="34"></a></div><div class="rd-navbar-nav-wrap"><div class="rd-navbar-nav-inner"><div class="rd-navbar-search"><form class="rd-search" action="search-results.html" method="GET" data-search-live="rd-search-results-live"><div class="form-wrap"><label class="form-label" for="rd-search-form-input">Search...</label><input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off"><div class="rd-search-results-live" id="rd-search-results-live"></div></div><button class="rd-search-submit" type="submit"></button></form><button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-search-wrap"></button></div><ul class="rd-navbar-nav"><li><a href="index.html">Home</a></li><li class="rd-navbar--has-dropdown rd-navbar-submenu opened"><a href="#servicios">Servicios</a><ul class="rd-navbar-dropdown"><li><a href="service-impulsaciones.html" target="">Impulsaciones</a></li><li><a href="service-implementacion.html" class="" target="">Implentación POP</a></li><li><a href="service-merchandising.html" target="">Merchandising team</a></li><li><a href="service-censos.html" target="">Censos y estadísticas</a></li><li><a href="service-impulsaciones.html">Tienda a tienda</a></li><li><a href="service-logistica.html" class="" target="">logística Trade</a></li><li><a href="service-impulsaciones.html" class="">Desarrollo de plataformas</a></li><li><a href="service-plan.html" target="">Plan carrera</a></li><li><a href="service-mailing.html" class="" target="">Servicio de mailing</a></li></ul></li><li><a href="blog-grid.html">Blog</a><ul class="rd-navbar-dropdown"><li><a href="blog-post.html">Blog post</a></li></ul></li><li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="#teamHome">Acerca de nosotros</a><ul class="rd-navbar-dropdown"><li><a href="team.html">Team</a></li><li><a href="team-member.html">Team member</a></li><li><a href="privacy-policy.html">Privacy policy</a></li><li><a href="search-results.html">Search results</a></li></ul></li><li class="active"><a href="contact-us.html">Contactanos</a></li></ul></div></div></div></div></nav></div></header><section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap novi-background custom-bg-image" style="background-image: url(images/bg-image-1.jpg);"><div class="container"><div class="page-title"><h2>Contactanos</h2></div></div></section><section class="section-60 section-md-top-90 section-md-bottom-100 novi-background bg-cover"><div class="container"><div class="row row-fix justify-content-sm-center justify-content-lg-start row-50"><div class="col-lg-7 col-xl-6"><h3>entrar en               <span class="text-thin">contacto</span></h3><form class="rd-mailform form-modern" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php"><div class="row row-fix row-30"><div class="col-md-6"><div class="form-wrap"><input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required"><label class="form-label rd-input-label" for="contact-name">Nombre</label></div></div><div class="col-md-6"><div class="form-wrap"><input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required"><label class="form-label" for="contact-email">Email</label></div></div><div class="col-sm-12"><div class="form-wrap"><div class="textarea-lined-wrap"><textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea><label class="form-label rd-input-label" for="contact-message">Mensage</label></div></div></div><div class="col-sm-8"><button class="btn btn-primary btn-block" type="submit">enviar</button></div><div class="col-sm-4"><button class="btn btn-silver-outline btn-block" type="reset">borrar</button></div></div></form></div><div class="col-xl-1 d-none d-xl-inline-block"></div><div class="col-lg-5 col-xl-4"><div class="row row-40"><div class="col-md-10 col-lg-12"><h3 class=""><span data-novi-id="7">¿como                     <span data-novi-id="6">localizarnos?</span></span></h3><p class="text-secondary">Si usted tiene alguna pregunta, solamente llene el formulario de contacto, y nosotros responderemos pronto. Si usted esta cerca, venga visitenos. </p></div><div class="col-md-6 col-lg-12"><h4>Matriz Quito</h4><address class="contact-info"><p class="text-uppercase">JUAN SEVERINO E8-38 Y 6 DE DICIEMBRE. EDIF. ARGENTINA PLAZA, PISO 4</p><dl class="list-terms-inline"><dt>Teléfono</dt><dd><a class="link-secondary" href="tel:#">+(593) 3800645</a></dd></dl><dl class="list-terms-inline"><dt>E-mail</dt><dd><a class="link-primary" href="mailto:info@gotrade.com.ec">info@gotrade.com.ec</a></dd></dl></address></div><div class="col-md-6 col-lg-12"><h4>Sucursal Guayaquil</h4><address class="contact-info"><p class="text-uppercase">av. de las americas #510 edif. sky building                     <br>off. 503</p><dl class="list-terms-inline"><dt>Teléfono</dt><dd><a class="link-secondary" href="tel:#"></a><a class="link-secondary" href="tel:#" style="background-color: rgb(255, 255, 255);">+(593) 46027 365</a></dd></dl><dl class="list-terms-inline"><dt>E-mail</dt><dd><a class="link-primary" href="mailto:infogye@gotrade.com.ec">infogye@gotrade.com.ec</a></dd></dl></address></div></div></div></div></div></section><footer class="page-foot bg-cape-cod context-dark novi-background bg-cover"><div class="section-40 section-md-75"><div class="container"><div class="row row-fix justify-content-sm-center"><div class="col-sm-9 col-md-11 col-xl-12"><div class="row row-50"><div class="col-md-6 col-lg-10 col-xl-3"><div class="inset-xl-right-20" style="max-width: 510px;"><a class="brand brand-inverse" href="index.html"><img src="images/logo-light-282x68.png" alt="" width="282" height="68"></a><p class="text-dusty-gray">Garantizamos el crecimiento de tus ventas con personal altamente capacitado y amigable tanto administrativo como operativo</p><div class="link-block"><a class="text-small-16 text-medium" href="contact-us.html">¡Comunícate Ahora!</a></div></div></div><div class="col-md-6 col-lg-4 col-xl-3"><h6 class="text-small-16 text-uppercase footer-title">Recent Posts</h6><div class="post-preview-wrap"><article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html"><div class="unit unit-horizontal unit-spacing-lg"><div class="unit-left"><figure class="post-image"><img src="images/post-preview-1-70x70.jpg" alt="" width="70" height="70"></figure></div><div class="unit-body"><div class="post-header"><p>Top 3 Concerns Whe Choosing a Cloud Vendor</p></div><div class="post-meta"><ul class="list-meta"><li><time datetime="2018-12-23">June 23, 2018</time></li><li>4 Comment</li></ul></div></div></div></a></article><article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html"><div class="unit unit-horizontal unit-spacing-lg"><div class="unit-left"><figure class="post-image"><img src="images/post-preview-2-70x70.jpg" alt="" width="70" height="70"></figure></div><div class="unit-body"><div class="post-header"><p>Audit Data Analytics: Why Auditors Should Care</p></div><div class="post-meta"><ul class="list-meta"><li><time datetime="2018-12-23">June 20, 2018</time></li><li>4 Comment</li></ul></div></div></div></a></article></div></div><div class="col-md-6 col-lg-4 col-xl-3"><h6 class="text-small-16 text-uppercase footer-title">links</h6><div class="row row-fix" style="max-width: 270px;"><div class="col-6"><ul class="list-marked-variant-2"><li><a href="index.html">Home</a></li><li><a href="services.html">Services</a></li><li><a href="blog-classic.html">Blog</a></li></ul></div><div class="col-6"><ul class="list-marked-variant-2"><li><a href="about-us.html">About us</a></li><li><a href="contact-us.html">Contacts</a></li><li><a href="team.html">Team</a></li></ul></div></div></div><div class="col-md-6 col-lg-4 col-xl-3"><h6 class="text-small-16 text-uppercase footer-title">Contactanos</h6><address class="contact-info text-left"><div class="unit unit-horizontal unit-spacing-md align-items-center"><div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray material-icons-phone"></span></div><div class="unit-body"><a class="link-white" href="tel:#">+(593) &nbsp;3800645</a></div></div><div class="unit unit-horizontal unit-spacing-md align-items-center"><div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray fa fa-envelope-o"></span></div><div class="unit-body"><a class="link-white" href="mailto:#">info@gotrade.com.ec</a></div></div><div class="unit unit-horizontal unit-spacing-md"><div class="unit-left"><span class="novi-icon icon icon-xs icon-dusty-gray material-icons-place"></span></div><div class="unit-body"><a class="link-white d-inline" href="#">Juan Severino E8-38 y 6 de Diciembre. Edif. Argentina Plaza                           <br>4to piso off. 401</a></div></div></address></div></div></div></div></div></div><div class="container"><hr class="hr bg-abbey-04"></div><div class="section-35"><div class="container text-center"><div class="row row-fix flex-md-row-reverse justify-content-md-between align-items-md-center row-15"><div class="col-md-6 text-md-right"><div class="group-sm group-middle"><p class="font-italic text-white">Siguenos:</p><ul class="list-inline list-inline-reset"><li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook" href="#"></a></li><li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter" href="#"></a></li><li><a class="novi-icon icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus" href="#"></a></li></ul></div></div><div class="col-md-6 offset-top-15 offset-sm-top-0 text-md-left"><p class="rights text-white"><span class="copyright-year">2019</span><span>&nbsp;© Gotrade. Todos los derechos reservados</span></p></div></div></div></div></footer></div><div class="snackbars" id="form-output-global"></div><script src="js/core.min.js"></script><script src="js/script.js"></script></body></html>

sources/pug/pages/contact-us.pug
extends  ../_skeleton

block variables
  - var activeIndex = 5
  - var pageName = 'Contact Us'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  //- Get in Touch
  section.section-60.section-md-top-90.section-md-bottom-100.novi-background.bg-cover
    .container
      .row.row-fix.justify-content-sm-center.justify-content-lg-start.row-50
        .col-lg-7.col-xl-6
          h3 Get in #[span.text-thin Touch]
          //- RD Mailform
          form.rd-mailform.form-modern(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .row.row-fix.row-30
              .col-md-6
                .form-wrap
                  input#contact-name.form-input(type="text" name="name" data-constraints="@Required")
                  label.form-label(for="contact-name") Name
              .col-md-6
                .form-wrap
                  input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                  label.form-label(for="contact-email") Email

              .col-sm-12
                .form-wrap
                  .textarea-lined-wrap
                    textarea#contact-message.form-input(name="message" data-constraints="@Required")
                    label.form-label(for="contact-message") Message

              .col-sm-8
                button(type="submit").btn.btn-primary.btn-block Send

              .col-sm-4
                button(type="reset").btn.btn-silver-outline.btn-block Reset

        .col-xl-1.d-none.d-xl-inline-block

        .col-lg-5.col-xl-4
          .row.row-40
            .col-md-10.col-lg-12
              h3 How to #[span.text-thin Find Us]
              p.text-secondary.
                If you have any questions, just fill in the contact form, and we will answer you shortly. If you are living nearby, come visit us.

            .col-md-6.col-lg-12
              h4 Headquarters
              address.contact-info
                p.text-uppercase 9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.
                dl.list-terms-inline
                  dt Telephone
                  dd: a.link-secondary(href='tel:#') +1 800 603 6035

                dl.list-terms-inline
                  dt E-mail
                  dd: a.link-primary(href='mailto:#') mail@demolink.org

            .col-md-6.col-lg-12
              h4 Support Centre
              address.contact-info
                p.text-uppercase 9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45
                dl.list-terms-inline
                  dt Telephone
                  dd: a.link-secondary(href='tel:#') +1 800 603 6035

                dl.list-terms-inline
                  dt E-mail
                  dd: a.link-primary(href='mailto:#') mail@demolink.org

  ='\n'

  section.google-map-container(data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-zoom="14", data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png', data-styles="[{\"featureType\":\"all\",\"elementType\":\"labels.text.fill\",\"stylers\":[{\"saturation\":36},{\"color\":\"#000000\"},{\"lightness\":40}]},{\"featureType\":\"all\",\"elementType\":\"labels.text.stroke\",\"stylers\":[{\"visibility\":\"on\"},{\"color\":\"#000000\"},{\"lightness\":16}]},{\"featureType\":\"all\",\"elementType\":\"labels.icon\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"administrative\",\"elementType\":\"geometry.fill\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":20}]},{\"featureType\":\"administrative\",\"elementType\":\"geometry.stroke\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":17},{\"weight\":1.2}]},{\"featureType\":\"landscape\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":20}]},{\"featureType\":\"poi\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":21}]},{\"featureType\":\"road.highway\",\"elementType\":\"geometry.fill\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":17}]},{\"featureType\":\"road.highway\",\"elementType\":\"geometry.stroke\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":29},{\"weight\":0.2}]},{\"featureType\":\"road.arterial\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":18}]},{\"featureType\":\"road.local\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":16}]},{\"featureType\":\"transit\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":19}]},{\"featureType\":\"water\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":17}]}]")
    .google-map
    ul.google-map-markers
      li(data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow')
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default
